@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

/*body {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	color: #fafafa;
	margin: 0;
	padding: 0;
	background: #1c2127;
	background-image: url("../images/cloudy.jpg");
	background-position: top center;
	background-attachment: fixed;
}*/
