
export const appConfig = {
}

export const dbConfig = {
  uri: "mongodb://localhost:27017/weather",
  name: "weather",
  collections: {
    cache: "cache",
    location: "location",
    historical: "historical"
  },
  options: {
    cacheTtl: 3600,
    maxDistance: 5000
  }
}

export const weatherServiceConfig = {
  weatherapi: {
    url: "https://weatherapi-com.p.rapidapi.com/forecast.json",
    host: "weatherapi-com.p.rapidapi.com",
    key: "",
    lang: "es",
    days: 3
  },
  openmeteo: {
    url: "https://api.open-meteo.com/v1/forecast",
    params: {
      current_weather: "true",
      timezone: "auto",
    }
  }
}

export const locationServiceConfig = {
  url: "https://geocoding-api.open-meteo.com/v1/search",
  params: {
    language: "es"
  }
}
