
export const dbConfig = {
  uri: "mongodb://0.0.0.0:27017/weather",
  name: "weather",
  collections: {
    cache: "cache",
    location: "location",
    historical: "historical"
  },
  options: {
    cacheTtl: 3600,
    maxDistance: 5000
  }
}

export const weatherServiceConfig = {
  weatherapi: {
    url: "https://weatherapi-com.p.rapidapi.com/forecast.json",
    host: "weatherapi-com.p.rapidapi.com",
    key: "",
    lang: "es"
  }
}
